.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1315px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F0F0F7;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--White, #FFF);
}

.left_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin: 50px 37px 39px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_1 .left_1_1 {
    /* margin-top: 50px; */
    width: 156.164px;
    height: 142.527px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_1 .left_1_2 {
    margin-top: 30px;
    color: var(--Black, #2B2B2B);
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.left_1 .left_1_3 {
    margin-top: 6,7px;
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.left_1 .left_icons {
    margin-top: 19px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social_icon {
    margin-right: 13px;
    width: 24.986px;
    height: 22.804px;
}

.left_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-right: 44px;
    border: solid #F0F0F6;
}

.left_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;  
    margin: 25px 37px 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.left_2 .left_2_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_2 .left_2_1 .left_label {
    margin-bottom: 10px;
    padding: 2px 8px;
    background: var(--Yellow, #FFB400);
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.left_2 .left_2_1 .left_value {
    margin-bottom: 10px;
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 180px;  
    margin: 25px 37px 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.left_frame .LanSkillExtra {
    margin-bottom: 9px;
    color: var(--Black, #2B2B2B);
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.left_frame .label3_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--Paragraph-Font, #767676);
    /* Paragraph Progress - 15 */
    font-family: Inter;
    /* font-size: 15px; */
    font-style: normal;
    /* font-weight: 400; */
    text-transform: capitalize;
}

.left_frame .scale {
  width: 100%;
  height: 8px;
  margin-top: 3px;
  margin-bottom: 7px;
  border: 1px solid #FFB400; /* Цвет рамки */
  border-radius: 14px;       /* Скругление углов */
  padding: 2px;              /* Зазор между рамкой и заливкой */
  box-sizing: border-box;
}

.left_frame .scale .scale_in {
  width: 100%;
  height: 100%;
  border: 1px solid #FFB400; /* Цвет рамки */
  border-radius: 10px;       /* Скругление углов */
  /* padding: 2px;              Зазор между рамкой и заливкой */
  box-sizing: border-box;
}

.left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 242px; 
    margin: 25px 37px 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin: 25px 79px 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_frame .label5_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
    color: var(--Paragraph-Font, #767676);
    /* Paragraph Progress - 15 */
    font-family: Inter;
    /* font-size: 15px; */
    font-style: normal;
    /* font-weight: 400; */
    text-transform: capitalize;
}

.left_frame .label5_2 .label5_3 {
    margin-left: 10px;
}

.left_frame .left_6 {
    position: relative;
    width: 220px;
    height: 40px;
    margin: 25px 45px 25px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFB400;
    border: none;
    color: var(--Gray-2, #4F4F4F);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1315px;
    margin-left: 30px;
    margin-right: 27px;
    margin-top: -57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midd_frame .midd_1 {
    position: relative;
    width: 970px;
    height: 467px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFF;
}
.midd_1 .midd_1_icon1 {
    position: absolute;
    top: 10%;
    left: 5%;
}

.midd_1 .midd_1_icon2 {
    position: absolute;
    bottom: 15%;
    left: 55%;
}
.midd_1 .midd_1_icon3 {
    position: absolute;
    bottom: 3%;
    left: 12%;
}
.midd_1 .midd_1_icon4 {
    position: absolute;
    top: 8%;
    left: 55%;
}
.midd_1 .midd_1_icon5 {
    position: absolute;
    top: 75%;
    left: 35%;
}
.midd_1 .midd_1_icon6 {
    position: absolute;
    top: 10%;
    right: 5%;
}
.midd_1 .midd_1_icon7 {
    position: absolute;
    bottom: 5%;
    right: 4%;
}

.midd_1 .midd_1_title {
    width: 500px;
    margin-left: 60px;
    color: var(--Black, #2B2B2B);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 59.328px */
}

.midd_1 .midd_1_text {
    width: 424px;
    height: 88px;  
    margin-top: 18px;
    margin-left: 60px; 
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* H6 - 16px */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
}

.midd_1 .midd_1_btn {
    display: flex;
    padding: 16px 32px;
    margin-top: 25px;
    margin-left: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    background: var(--Yellow, #FFB400);
}

.midd_1 .midd_1_right {
    width: 325.719px;
    height: 459.09px;
    margin-right: 58px;
}

.my_services {
    width: 970px;
    height: 653px;
    margin-top: 139px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.midd_frame .midd_2 {
    color: #2B2B2B;
    /* H2 - 32px */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%; /* 39.552px */
    text-transform: capitalize;
}

.midd_frame .midd_3 {
    width: 438px;
    height: 68px;   
    margin-top: 25px;
    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* P-15px paragraph */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.midd_frame .midd_4 {
    width: 970px;
    height: 225px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.midd_frame .midd_4_1 {
    width: 310px;
    height: 225px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

/* .midd_frame .midd_4_icon {
    margin-top: 28px;
} */

.midd_frame .midd_4_title {
    margin-top: 26px;
    color: var(--Black, #2B2B2B);
    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.midd_frame .midd_4_text {
    margin-top: 15px;
    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.midd_frame .midd_5 {
    width: 970px;
    height: 225px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.midd_frame .midd_5_1 {
    width: 310px;
    height: 225px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
}

.midd_frame .midd_5 .midd_5_order {
    color: var(--Yellow, #FFB400);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

.right_frame .icon_1 {
    margin-top: 50px;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.right_frame .icon_home {
    margin-top: 174px;
} 

.right_frame .icon {
    margin-top: 40px;
} 